.boton-clear {
    height: 60px;
    font-size: 1.6em;
    display: flex;
    flex: 1;
    background-color: #340216;
    margin-top: 8px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    cursor: pointer; 
    transition: all .5s ease-in;     
  }
  
  .boton-clear:hover {
    background-color: #7c5e05;
  }