.App {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #444654;
    font-family: Lato, sans-serif;
    overflow: hidden;
}
  
.contenedor-calculadora {
    width: 400px;
    height: 470px;
    padding: 20px;
    background-color: #343541;
    border-radius: 5px;
    border: 2px solid #8181aa;
}
  
.fila {
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}